%html{:lang => "ru"}

%html
	%body
		%br
		%center
			fewfewefefwejiofwfewfwefwaejf owee
		%table
			%tr
				%th{rowspan: "2"} №
				%th{:rowspan => "2", :colspan => "2"} C, мкФ
				%th{:colspan => "6"} Измерить
				%th Рассчитать
			%tr
				%td P, Вт
				%td I, А
				%td U, В
				%td U_R, В
				%td U_L, В
				%td U_C, В
				%td 1
				%td 2
				%td 3
				%td 4
				%td 5
				%td 6
			%tr
				%td 1.
				%td Cp-40
				%td 130
				%td 2442
				%td 11.65
				%td 220
				%td 209.6
				%td 215.1
				%td 281.6
